.table-container{
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #509556;
}

/* The width is 100%, when the viewport is 1100px or smaller - for smartphone users */
@media screen and (max-width: 700px) {
    .question-container {
      width: 50%;
      margin: auto;
    }
  }